{% extends "base.html" %}
{% load static %}
{% block title %}Home Page{% endblock %}

{% block content %}
<!-- Navbar Code -->
<nav class="navbar navbar-expand-lg navbar-light bg-brown fixed-top">
  <a class="navbar-brand" href="#">Worker Bee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link home-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Homepage Content -->
<div class="homepage">
    <header>
        <!-- New "Welcome to" Text -->
        <p class="welcome-text">Welcome to</p>

       <!-- "Worker Bee" Text Below -->
       <div class="worker-bee-text">
        <div class="worker-text">Worker</div>
        <div class="bee-text">Bee</div>
    </div>

    <!-- "Bee Organized" Text Below -->
<div class="bee-organized-text">
    Bee Organized!
</div>
<!-- Register Button -->
<!-- Register Button -->
<a href="/register" class="register-button">
    <span class="register-text">Register</span>
</a>



    </header>

    <!-- Bee Image: Move it to the far right and make it bigger -->
    <img src="{% static 'ToDo_App/images/workerbee.png' %}" alt="Bee Image" class="side-image">
</div>
{% endblock %}

